*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
   
}
body{
    background-color:  #281128;
    font-family: 'Sono', sans-serif;
}


.pricing-container{
   
    display: flex;
    position: relative;
    max-width: 75vw;
    justify-content: space-around;
    height: 500px;
    margin: 25vh auto;
  
}
.pricing-plan{
    position: relative;
    width: 15vw;
    border-radius: 20px;
    padding: 1rem;
    transition: 0.1s;
}

.plan-features{
    list-style: none;
}
.plan-price{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.plan-title{
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.plan-description{
font-weight: 10;
font-size: 0.8rem;
text-align: justify;
margin-bottom: 1rem;
}
.plan-features{
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    position: relative;
    left: 1rem;
    margin-bottom: 1rem;
    
}
.plan-button{
    color: #FFE1FF;
    border-radius: 20px;
    width: 13vw;
    height: 5vh;
    border: none;
    background-color: rgba(255, 225, 255, 0.6);
    position: absolute;
    bottom: 4%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}



@media (max-width: 1700px) {
    .pricing-container{
    width: 70vw;
    height: 100vh;

}

.plan-price{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.plan-title{
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.plan-description{
font-weight: 10;
font-size: 0.8rem;
text-align: justify;
margin-bottom: 1rem;
}
.plan-features{
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    position: relative;
    left: 1rem;
    margin-bottom: 1rem;
}
.pricing-plan{
    
    position: relative;
    width: 30%;
    height: 60vh;
    border-radius: 20px;
    padding: 1rem;
    transition: 0.1s;
  }
  .plan-button{
    color: #FFE1FF;
    border-radius: 20px;
    width: 50%;
    height: 10%;
    border: none;
    background-color: rgba(255, 225, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 4%;
    left: 25%;
}


  }
  @media (max-width: 1250px) {
    .pricing-container{
        width: 50vw;
  flex-direction: column;
   height: 150vh;
   align-items: center;
}

.plan-price{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.plan-title{
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.plan-description{
font-weight: 10;
font-size: 0.8rem;
text-align: justify;
margin-bottom: 1rem;
}
.plan-features{
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    position: relative;
    left: 1rem;
    margin-bottom: 1rem;
}
.pricing-plan{
    
    position: relative;
    width: 75%;
    height: 47vh;
    border-radius: 20px;
    padding: 1rem;
    transition: 0.1s;
  }
  .plan-button{
    color: #FFE1FF;
    border-radius: 20px;
    width: 50%;
    height: 10%;
    border: none;
    background-color: rgba(255, 225, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 4%;
    left: 25%;
}
  }

 @media (max-width: 425px){
    
    .pricing-container{
        width: 50vw;
        flex-direction: column;
        height: 75vh;
        align-items: center;
        margin: 10% auto;
}

.plan-price{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.plan-title{
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 0.5rem;
}
.plan-description{
font-weight: 10;
font-size: 0.4rem;
text-align: justify;
margin-bottom: 0.5rem;
}
.plan-features{
    font-size: 0.4rem;
    line-height: 0.5rem;
    text-align: left;
    position: relative;
    left: 1rem;
    margin-bottom: 1rem;
}
.pricing-plan{
    
    position: relative;
    width: 75%;
    height: 23vh;
    border-radius: 20px;
    padding: 1rem;
    transition: 0.1s;
  }
  .plan-button{
    color: #FFE1FF;
    border-radius: 20px;
    width: 50%;
    height: 8%;
    border: none;
    background-color: rgba(255, 225, 255, 0.6);
    font-size: 0.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 4%;
    left: 25%;
}
  }

